@font-face{
    font-family:'icon';
    font-style:normal;
    font-weight:normal;
    src:url('../fonts/icon.eot?kov901');
    src:url('../fonts/icon.eot?#iefixkov901') format('embedded-opentype'),
        url('../fonts/icon.woff?kov901') format('woff'),
        url('../fonts/icon.ttf?kov901') format('truetype'),
        url('../fonts/icon.svg?kov901#icon') format('svg')
}


/* Reset */
*,
*:after,
*:before{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent
}


/* Baseline */
html{
    background:#000;
    color:#555;
    font:62.5% 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
    line-height:1em;
    min-height:100vh;
    -moz-osx-font-smoothing:grayscale;
    -ms-touch-action:manipulation;
    touch-action:manipulation
}
body{
    font-size:1.2rem;
    height:100vh;
    line-height:1.5em;
    overflow:hidden
}
.ua-webkit body{
    font-size:1.4rem;
    font-weight:400
}
button,
input[type=checkbox],
input[type=range]{
    cursor:pointer
}
button{
    background:-moz-linear-gradient(#77c2fd,#5eaef5 50%,#57a8f1 51%,#4296e7);
    background:-webkit-linear-gradient(#77c2fd,#5eaef5 50%,#57a8f1 51%,#4296e7);
    background:linear-gradient(#77c2fd,#5eaef5 50%,#57a8f1 51%,#4296e7);
    border:1px #4296e7 solid;
    border-radius:3px;
    box-shadow:0 1px 0 #fff;
    color:#fff;
    font-size:1.6rem;
    font-weight:bold;
    letter-spacing:-1px;
    padding:4px 9px;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(0,0,0,.6)
}
button:focus{
    background:-moz-linear-gradient(#77c2fd,#5eaef5 50%,#5eaef5 51%,#5eaef5);
    background:-webkit-linear-gradient(#77c2fd,#5eaef5 50%,#5eaef5 51%,#5eaef5);
    background:linear-gradient(#77c2fd,#5eaef5 50%,#5eaef5 51%,#5eaef5);
    text-shadow:0 -1px 3px rgba(0,0,0,1)
}
button:active{
    background:-moz-linear-gradient(#5eaef5,#77c2fd 50%,#77c2fd);
    background:-webkit-linear-gradient(#5eaef5,#77c2fd 50%,#77c2fd);
    background:linear-gradient(#5eaef5,#77c2fd 50%,#77c2fd);
    box-shadow:0 3px 6px rgba(0,0,0,.2) inset,0 0 13px #77c2fd,0 0 23px #77c2fd,0 0 6px #77c2fd
}
dialog,
footer,
header,
main{
    left:0;
    top:0;
    display:block;
    position:fixed;
    width:100%;
    z-index:2
}
h1,
h2,
h3{
  font-weight:200
}
.ua-webkit h1,
.ua-webkit h2,
.ua-webkit h3{
    font-weight:400
}
template{
    display:none
}


/* Support classes */
.offScreen{
    position:absolute;
    top:-999999px
}

/* Icons */
[class^='icon-']:before,
[class*=' icon-']:before{
    font-family:'icon';
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-transform:none
}
.icon-support:before{
    content:'\e604'
}
.icon-user:before{
    content:'\e605'
}
.icon-spinner:before{
    content:'\e606'
}
.icon-search:before{
    content:'\e607'
}
.icon-cog:before{
    content:'\e609'
}
.icon-bug:before{
    content:'\e60a'
}
.icon-stats:before{
    content:'\e60b'
}
.icon-meter2:before{
    content:'\e60c'
}
.icon-fire:before{
    content:'\e60d'
}
.icon-menu:before{
    content:'\e600'
}
.icon-earth:before{
    content:'\e610'
}
.icon-link:before{
    content:'\e611'
}
.icon-star:before{
    content:'\e612'
}
.icon-star2:before{
    content:'\e613'
}
.icon-star3:before{
    content:'\e614'
}
.icon-heart:before{
    content:'\e615'
}
.icon-warning:before{
    content:'\e616'
}
.icon-notification:before{
    content:'\e617'
}
.icon-question:before{
    content:'\e618'
}
.icon-cancel-circle:before{
    content:'\e619'
}
.icon-checkmark-circle:before{
    content:'\e61a'
}


/* App elements */
.intro{
    background:#fff;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.01) 50%,rgba(0,0,0,.06) 70%,rgba(0,0,0,.15) 100%);
    color:rgba(0,0,0,.5);
    font-size:1.6rem;
    height:100vh;
    left:0;
    letter-spacing:-2px;
    opacity:1;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    will-change:opacity,transform;
    z-index:9
}
.intro.hide{
    opacity:0;
    pointer-events:none;
    -webkit-transform:scale(3,3);
    transform:scale(3,3)
}
.intro.hide.destroy{
    display:none
}
.intro img{
    height:auto;
    left:50%;
    position:absolute;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:128px;
    top:50%
}
.intro h1{
    bottom:20%;
    position:absolute;
    text-align:center;
    text-shadow:1px 1px 0 #fff;
    width:100%
}

header{
    background:rgba(0,0,0,.75);
    color:#fff;
    padding:20px;
    right:0;
    text-align:center;
    top:0;
    width:auto
}

header nav{
    color:#fff;
    left:0;
    overflow:hidden;
    position:absolute
}
header nav:hover{
    overflow:visible
}
header nav > a{
    color:#fff;
    display:block;
    text-align:right;
    text-decoration:none
}
header nav li{
    cursor:pointer;
    display:block;
    margin:0;
    list-style-type:none
}
header nav li:hover{
    background:#56a1e4;
    color:#fff
}

header form{
    position:relative
}
header form:before{
    color:#fff;
    display:inline-block;
    font-size:1.4rem;
    position:absolute;
    right:10px;
    top:8px;
    z-index:4
}
header form button{
    display:none
}
header form input{
    background:rgba(0,0,0,.6);
    border:0;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    font-size:14px;
    padding:8px 8px;
    width:100%
}
header form input:focus{
    background:#fff;
    color:#333;
    cursor:text
}

.map{
    bottom:0;
    height:100vh;
    left:0;
    position:absolute;
    width:100%;
    z-index:1
}

footer,
header,
.map{
    will-change:opacity
}

.modalActive footer,
.modalActive header,
.modalActive .map{
    opacity:.3
}

.modal{
    background:#fff;
    border:0;
    border-radius:2px;
    box-shadow:0 2px 66px rgba(0,0,0,.7);
    display:none;
    height:80%;
    left:10%;
    padding:40px;
    top:10%;
    width:80%
}
.modalActive .modal{
    display:block
}
.modal:after{
    background:rgba(0,0,0,.7);
    height:100%;
    left:0;
    top:0;
    width:100%
}
.modal > .close{
    background:transparent none;
    border:0;
    border-radius:0;
    cursor:pointer;
    color:transparent;
    height:40px;
    overflow:hidden;
    position:absolute;
    right:-5px;
    text-shadow:none;
    top:0;
    width:40px
}
.modal > .close:active,
.modal > .close:focus{
    box-shadow:none
}
.modal > .close:before{
    color:#808080;
    font-size:2rem;
    position:absolute
}
.modal > article{
    height:97%;
    overflow:auto;
    text-align:justify;
    -webkit-overflow-scrolling:touch
}
.modal h1{
    font-size:3rem;
    line-height:3rem;
    margin:0 0 18px 0;
    text-align:left
}
.modal h2{
    font-size:2.4rem;
    line-height:2.4rem;
    margin:0 0 4px 0
}
.modal p{
    font-size:1.4rem;
    line-height:1.6em;
    margin:0 0 16px
}
.modal img{
    height:auto;
    width:100%
}

footer{
    text-align:center;
    top:auto
}

/* Widget search suggestions */
.searchSuggest{
    position:absolute;
    text-align:left;
    width:100%
}
.searchSuggest li{
    background:rgba(0,0,0,.9);
    color:#fff;
    cursor:pointer;
    list-style-type:none;
    padding:4px 6px
}
.searchSuggest li:first-child{
    border-top-left-radius:4px;
    border-top-right-radius:4px
}
.searchSuggest li:last-child{
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px
}
.searchSuggest li:focus,
.searchSuggest li:hover,
.searchSuggest li.active{
    background:#56a1e4;
    color:#fff
}


/* RD */
@media(max-width:767px){
    header{
        background:transparent;
        bottom:10px;
        top:auto;
        z-index:3
    }
    header h1{
        display:none
    }
    header nav{
        overflow:visible;
        position:absolute;
        text-align:left;
        z-index:5
    }
    header nav > a{
        background:#fff;
        border:1px rgba(0,0,0,.2) solid;
        border-radius:50%;
        box-shadow:0 0 0 1px #fff,0 0 0 2px #fff,0 0 2px #000;
        color:transparent;
        display:inline-block;
        height:60px;
        left:16px;
        padding:6px 9px;
        position:relative;
        top:-30px;
        width:60px;
        text-align:center
    }
    header nav > a:before{
        color:#57a8f1;
        font-size:3rem;
        font-weight:100;
        left:5px;
        position:relative;
        top:7px;
        -webkit-transform:scale(2,2);
        transform:scale(2,2)
    }

    header > nav > ul{
        background:rgba(0,0,0,.9);
        box-shadow:-2px 0 2px rgba(0,0,0,.8) inset;
        display:none;
        left:0;
        height:100vh;
        overflow:scroll;
        position:fixed;
        top:0;
        width:200px
    }
    header > nav > ul:before{
        color:#fff;
        content:'Pick a place';
        display:block;
        font-size:3rem;
        font-weight:200;
        margin:20px 0;
        text-align:center
    }
    header > nav > ul > li{
        border-radius:0;
        font-size:1.3rem;
        padding:8px 14px;
        text-align:right
    }
    header nav:target ul,
    header nav:hover ul{
        display:block
    }

    header form{
        margin-left:80px
    }
    header form:before{
        background:#fff;
        border-radius:50%;
        border:1px rgba(0,0,0,.2) solid;
        box-shadow:0 0 0 1px #fff,0 0 0 2px #fff;
        color:#57a8f1;
        font-size:3rem;
        padding:14px;
        right:0;
        top:-29px;
    }
    header form:hover:before{
        display:none
    }
    header form input{
        background:transparent;
        color:transparent;
        height:38px;
        position:relative;
        text-align:right;
        top:-17px
    }
    header form:hover input,
    header form input:focus{
        background:#fff;
        box-shadow:0 0 1px rgba(0,0,0,.5);
        color:#555;
        text-align:left;
        z-index:4
    }

    .searchSuggest{
        bottom:56px;
        width:100%;
        z-index:6
    }
    .searchSuggest li{
        background:#fff;
        box-shadow:0 0 1px rgba(0,0,0,.5);
        color:#555
    }

    #modal{
        z-index:3
    }

    footer{
        display:none
    }
}

@media(min-width:767px){
    header{
        text-align:left
    }

    header nav{
        display:inline-block;
        height:20px;
        left:auto;
        position:absolute;
        right:240px;
        top:20px
    }
    header nav > a{
        font-size:1.4rem
    }
    header nav > a:before{
        color:rgba(255,255,255,.5);
        font-size:1.2rem;
        left:-3px;
        position:relative
    }
    header nav ul{
        margin-right:-50px;
        padding:20px 40px 40px 40px
    }
    header nav li{
        background:rgba(0,0,0,.7);
        padding:4px 8px
    }
    header nav li:first-child{
        box-shadow:0 1px 1px rgba(0,0,0,.5) inset;
    }
    header nav li:last-child{
        border-radius:0 0 4px 4px
    }
    header form{
        display:inline-block;
        padding:0;
        position:absolute;
        right:10px;
        top:14px;
        width:200px
    }
    header form input{
        box-shadow:0 1px 0 rgba(0,0,0,.9) inset,0 -1px 0 rgba(255,255,255,.3) inset
    }

    footer{
        background:rgba(0,0,0,.6);
        bottom:20px;
        border-radius:4px;
        color:#fff;
        left:20%;
        padding:6px 20px;
        text-shadow:0 0 2px #000;
        width:60%
    }
}


/* Animation */
footer,
header,
.map{
    -webkit-transition:.6s;
    -moz-transition:.6s;
    transition:.6s;
    will-change:opacity
}
.intro{
    -webkit-transition:.4s;
    -moz-transition:.4s;
    transition:.4s
}