@font-face{
    font-family:'icon';
    font-style:normal;
    font-weight:normal;
    src:url('../fonts/icon.eot?kov901');
    src:url('../fonts/icon.eot?#iefixkov901') format('embedded-opentype'),
        url('../fonts/icon.woff?kov901') format('woff'),
        url('../fonts/icon.ttf?kov901') format('truetype'),
        url('../fonts/icon.svg?kov901#icon') format('svg')
}


/* Reset */
*,
*:after,
*:before{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent
}


/* Baseline */
html{
    background:#000;
    color:#555;
    font:62.5% 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
    line-height:1em;
    min-height:100vh;
    overflow:hidden;
    -moz-osx-font-smoothing:grayscale;
    -ms-touch-action:manipulation;
    touch-action:manipulation
}
body{
    font-size:1.2rem;
    height:100vh;
    line-height:1.5em
}
.ua-webkit body{
    font-size:1.4rem;
    font-weight:400
}
button,
input[type=checkbox],
input[type=range]{
    cursor:pointer
}
button{
    background:-moz-linear-gradient(#77c2fd,#5eaef5 50%,#57a8f1 51%,#4296e7);
    background:-webkit-linear-gradient(#77c2fd,#5eaef5 50%,#57a8f1 51%,#4296e7);
    background:linear-gradient(#77c2fd,#5eaef5 50%,#57a8f1 51%,#4296e7);
    border:1px #4296e7 solid;
    border-radius:2px;
    box-shadow:0 1px 0 #fff;
    color:#fff;
    font-size:1.6rem;
    font-weight:bold;
    letter-spacing:-1px;
    padding:4px 9px;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(0,0,0,.6)
}
button:focus{
    background:-moz-linear-gradient(#77c2fd,#5eaef5 50%,#5eaef5 51%,#5eaef5);
    background:-webkit-linear-gradient(#77c2fd,#5eaef5 50%,#5eaef5 51%,#5eaef5);
    background:linear-gradient(#77c2fd,#5eaef5 50%,#5eaef5 51%,#5eaef5);
    text-shadow:0 -1px 3px rgba(0,0,0,1)
}
button:active{
    background:-moz-linear-gradient(#5eaef5,#77c2fd 50%,#77c2fd);
    background:-webkit-linear-gradient(#5eaef5,#77c2fd 50%,#77c2fd);
    background:linear-gradient(#5eaef5,#77c2fd 50%,#77c2fd);
    box-shadow:0 3px 6px rgba(0,0,0,.2) inset,0 0 13px #77c2fd,0 0 23px #77c2fd,0 0 6px #77c2fd
}
input[type=text],
input[type=search],
textarea{
    border:1px #c0c0c0 solid;
    border-radius:2px;
    font-size:1.4rem;
    padding:4px 6px
}
input[type=text]:hover,
input[type=search]:hover,
input[type=search]:hover,
textarea:hover{
    border-color:#5eaef5
}
input[type=text]:focus,
input[type=search]:focus,
input[type=search]:focus,
textarea:focus{
    border-color:#5eaef5;
    box-shadow:0 0 3px #5eaef5
}
textarea{
    line-height:1.6em
}
label{
    display:inline-block;
    font-size:1.4rem;
    padding-top:4px
}
.modal,
footer,
header,
main{
    left:0;
    top:0;
    display:block;
    position:fixed;
    width:100%;
    z-index:2
}
section{
    display:block
}
h1,
h2,
h3{
    font-weight:200
}
.ua-webkit h1,
.ua-webkit h2,
.ua-webkit h3{
    font-weight:400
}
template{
    display:none
}


/* Support classes */
.offScreen{
    position:absolute;
    top:-999999px
}
.col{
    display:inline-block;
    vertical-align:top
}
.col-3{
    width:33%
}
.col-4{
    width:38%
}
.col-6{
    width:50%
}


/* Icons */
[class^='icon-']:before,
[class*=' icon-']:before,
.chooseCoords:after{
    font-family:'icon';
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-transform:none
}
.icon-support:before{
    content:'\e604'
}
.icon-user:before{
    content:'\e605'
}
.icon-spinner:before{
    content:'\e606'
}
.icon-search:before{
    content:'\e607'
}
.icon-cog:before{
    content:'\e609'
}
.icon-bug:before{
    content:'\e60a'
}
.icon-stats:before{
    content:'\e60b'
}
.icon-meter2:before{
    content:'\e60c'
}
.icon-fire:before{
    content:'\e60d'
}
.icon-menu:before{
    content:'\e600'
}
.chooseCoords:after,
.icon-earth:before{
    content:'\e610'
}
.icon-link:before{
    content:'\e611'
}
.icon-star:before{
    content:'\e612'
}
.icon-star2:before{
    content:'\e613'
}
.icon-star3:before{
    content:'\e614'
}
.icon-heart:before{
    content:'\e615'
}
.icon-warning:before{
    content:'\e616'
}
.icon-notification:before{
    content:'\e617'
}
.icon-question:before{
    content:'\e618'
}
.icon-cancel-circle:before{
    content:'\e619'
}
.icon-checkmark-circle:before{
    content:'\e61a'
}


main,
#setup{

}

main{
    height:100vh;
    left:0;
    position:fixed;
    top:0
}

#setup{
    background:#fff;
    bottom:3%;
    border-radius:3px;
    box-shadow:0 1px 1px rgba(0,0,0,.4);
    height:32vh;
    left:3%;
    overflow:hidden;
    padding:20px;
    position:fixed;
    width:94%;
    z-index:2
}
#setup > ul{
    height:100%;
    position:relative
}
#setup li{
    list-style-type:none
}
#setup > ul > li{
    height:100%;
    padding-left:140px;
    position:absolute;
    width:100%
}
#setup > ul > li.active{
    display:block
}
#setup > ul > li > a{
    color:#808080;
    display:inline-block;
    font-size:2rem;
    font-weight:600;
    left:-60px;
    padding-right:10px;
    position:absolute;
    text-align:right;
    text-decoration:none;
    width:160px;
    z-index:8
}
#setup > ul > li.active > a{
    color:#57a8f1;
    font-weight:bold
}
#setup > ul > li + li > a{
    top:35px
}
#setup > ul > li + li + li > a{
    top:70px
}
#setup > ul > li > section{
    display:none;
    height:100%;
    left:130px;
    overflow:auto;
    position:absolute;
    right:0
}
#setup > ul > li.active > section{
    display:block;
    z-index:2
}
#setup > ul > li > section h2{
    display:none
}

#basics p{
    height:20px;
    margin:0 0 6px 0
}
#basics label{
    display:inline-block;
    position:absolute;
    width:160px
}
#basics input{
    left:140px;
    position:relative;
    width:80%
}

.chooseCoords{
    color:rgba(0,0,0,.5);
    font-size:1.6rem;
    letter-spacing:1px;
    margin-bottom:9px;
    padding:40px 0 30px;
    position:relative;
    text-align:center
}
.chooseCoords:after{
    font-size:3rem;
    left:50%;
    position:absolute;
    top:0;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%)
}
.chooseCoords.icon-checkmark-circle:before{
    color:green;
    left:-4px;
    position:relative;
    top:1px
}

#setup .existingPoints,
#setup .newPoint{
    border:0;
    height:100%;
    overflow:auto
}

#setup .existingPoints legend{
    display:block;
    font-size:1.4rem;
    font-weight:bold;
    padding-bottom:10px;
    top:-5px
}
#setup .existingPoints ul{
    left:-4px
}
#setup .existingPoints li{
    border-radius:2px;
    cursor:pointer;
    padding:2px 0
}
#setup .existingPoints li:hover{
    background:#57a8f1;
    color:#fff;
    padding:2px 6px
}

#setup .newPoint{
    padding:0 0 0 5%
}
#setup .newPoint .chooseCoords{
    padding-left:60px;
    position:relative
}
#setup .newPoint p{
    margin-bottom:20px;
    position:relative
}
#setup .newPoint label{
    padding-right:10px;
    position:absolute;
    text-align:right;
    width:20%
}
#setup .newPoint label + input,
#setup .newPoint label + textarea{
    left:20%;
    position:relative;
    width:80%
}
#setup .newPoint .dropzone{
    padding-bottom:40px
}

#save section{
    text-align:center
}
#save section > h2 + p{
    padding-bottom:40px
}

.modal{
    background:#fff;
    border:0;
    border-radius:2px;
    box-shadow:0 2px 66px rgba(0,0,0,.7);
    display:none;
    height:96%;
    left:2%;
    padding:40px;
    top:2%;
    width:96%
}
.modalActive .modal{
    display:block
}
.modal:after{
    background:rgba(0,0,0,.7);
    height:100%;
    left:0;
    top:0;
    width:100%
}
.modal > .close{
    background:transparent none;
    border:0;
    border-radius:0;
    cursor:pointer;
    color:transparent;
    height:40px;
    overflow:hidden;
    position:absolute;
    right:-5px;
    text-shadow:none;
    top:0;
    width:40px
}
.modal > .close:active,
.modal > .close:focus{
    box-shadow:none
}
.modal > .close:before{
    color:#808080;
    font-size:2rem;
    position:absolute
}
.modal > article{
    height:97%;
    overflow:auto;
    text-align:justify;
    -webkit-overflow-scrolling:touch
}
.modal h1{
    font-size:3rem;
    line-height:3rem;
    margin:0 0 18px 0;
    text-align:left
}
.modal h2{
    font-size:2.4rem;
    line-height:2.4rem;
    margin:0 0 4px 0
}
.modal p{
    font-size:1.4rem;
    line-height:1.6em;
    margin:0 0 16px
}
.modal img{
    height:auto;
    width:100%
}

.editor{
    background:rgba(0,0,0,.01);
    border:2px #e2e2e2 solid;
    display:inline-block;
    height:100%;
    overflow:auto;
    padding:20px;
    vertical-align:top;
    width:48%
}
.editorMarkdown{

}
.editorHTML{
    cursor:default;
    float:right
}
.editorSave{
    bottom:20px;
    position:absolute;
    right:40px;
    z-index:4
}


/* Animation */
footer,
header{
    -webkit-transition:.6s;
    -moz-transition:.6s;
    transition:.6s;
    will-change:opacity
}